<form action="/profile/edit" method="post" id="editprofile">
  <div class="col-md-3 col-xs-12"></div>
  <h2>Personal information</h2>
  <h4>First name</h4>
  <input name="firstName" placeholder="First name" type="text" class="form-control" value="{{user.firstName}}">
  <h4>Last name</h4>
  <input name="
    lastName" placeholder="Last name" type="text" class="form-control" value="{{user.lastName}}">
  <h4>Email</h4>
  <input name="email" placeholder="Email" type="text" class="form-control" value="{{user.email}}">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  {{!-- password change in account not profile? --}}
  {{!-- <h4>Password</h4>
  <input name="password" placeholder="Password" type="password" class="form-control" value=""> --}}
  <h4>Mentor or Mentee?</h4>
  <input type="radio" name="role" value="mentor"> Mentor<br>
  <input type="radio" name="role" value="mentee"> Mentee<br>

  <h4>Location</h4>
  <input name="currentLocation" placeholder="Location" type="text" class="form-control" value="{{user.location}}">
  <h4>Current Position</h4>
  <input name="currentPosition" type="text" class="form-control" value="{{user.currentPosition}}">

  <h4>Company</h4>
  <input name="currentCompany" placeholder="Company" type="text" class="form-control" value="{{user.currentCompany}}">
  <h4>Headline</h4>
  <textarea form="editprofile" name="headline" placeholder="Headline" type="text" class="form-control" value="{{user.headline}}">
  </textarea><br>
  <h4>Summary</h4>
  <textarea form="editprofile" name="summary" placeholder="Summary" type="text" class="form-control" value="{{user.summary}}">
  </textarea><br>
  <h4>Languages</h4>
  <fieldset>
    <ul>
      <li>
        <label>
          <input type="checkbox" name="language" value="English">
          English
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="language" value="German">
          German
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="language" value="French">
          French
        </label>
      </li>
      <li>
        <label>
          <input name="interests" placeholder="other" type="text" class="form-control" value="">
        </label>
      </li>
    </ul>
  </fieldset>
  <h4>Interests</h4>
  {{!-- turn this into checkboxes, button, or else --}}
  <input name="interests" placeholder="Interests" type="text" class="form-control" value="">
  <br>

  <br>
  </div>
  <button type="submit">Update info</button>

</form>