<h1>Hello {{user.firstName}}!</h1>


<h4> {{user.firstName}} {{user.lastName}}</h4>

<img src='{{user.picture}}' alt="profilepic" />

<p>{{user.currentPosition}}
</p>

<p>{{user.headline}}</p>
<p>{{user.summary}}</p>
<p>{{user.location}}</p>
<b>{{user.role}}</b>

<p>{{user.interests}}</p>

{{user.headline}}
{{user.location}}
{{user.role}}

{{user.email}}
{{user.currentCompany}}
{{user.currentIndustry}}
{{user.languages}}

<div><button><a href="/profile/edit">Edit</a></button>

</div>
</div>