<h1>Hello {{user.firstName}}!</h1>


<h4> {{user.firstName}} {{user.lastName}}</h4>

<img src="{{user.picture}}" alt="profilepic" />

<p>{{user.currentPosition}}
</p>

<p>{{user.headline}}</p>
<p>{{user.summary}}</p>
<p>{{user.location}}</p>

<p>{{user.interests}}</p>

<p>{{user.currentPosition}}</p>
<p>{{user.currentCompany}}</p>
<p>{{user.currentIndustry}}</p>
<br>
<br>
<b>{{user.pictureUrl}}</b>
<br>
<br>
{{#if user}}
<div><button><a href="/profile/edit">Edit your profile</a></button>
</div>
{{/if}}