<h2>Personal information</h2>
<div class="profile">

  {{#each user}}
  {{profile.name.givenName}}
  {{user.lastName}}
  {{user.role}}
  {{user.currentPosition}}
  {{user.summary}}

  {{/each}}





  {{User.firstName}}
  lastName,
  role,
  currentPosition,
  summary
</div>