<h1>Hello {{user.firstName}}!</h1>


<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2>Your profile information</h2>


      <img src=s{{user.picture}} alt="profilepic" />

      <h4> {{user.firstName}} {{user.lastName}}</h4>
      {{user.currentPosition}}

      {{user.summary}}

      {{user.headline}}
      {{user.location}}
      {{user.role}}

      {{user.email}}
      {{user.currentCompany}}
      {{user.currentIndustry}}
      {{user.languages}}

      <div><button><a href="/profile/edit">Edit</a></button>

      </div>
    </div>