<h1>Hello {{user.firstName}}!</h1>

<h2>Your profile information</h2>


<img src=s{{user.picture}} alt="profilepic" />

<h4> {{user.firstName}} {{user.lastName}}</h4>
{{user.currentPosition}}

{{user.summary}}

{{user.headline}}
{{user.location}}


{{user.email}}
{{user.currentPosition}}
{{user.currentCompany}}
{{user.currentIndustry}}

<div><button><a href="/profile/edit">Edit</a></button>
</div>