<div class="container">
  {{#if user}}
  <h1>Welcome {{user.firstName}}!</h1>
  <p>Your current role: {{user.role}}</p>
  {{/if}}

  <div class="full-profile">
    <div class="profile-pic">
      {{#if user.picture}}
      <img src='{{user.picture}}' alt="profilepic" />
      {{else}}
      <img src="public/images/Avatar.png" alt="profilepic" />
      {{/if}}
    </div>
    <div class="pub-name" <h4> {{user.firstName}} {{user.lastName}}</h4>
    </div>
    <div class="job">
      <p>{{user.currentPosition}} at {{user.currentCompany}}
        {{#if user.location}}
        <p>in {{user.location}}</p>
        {{/if}}
      </p>
    </div>
    <div class="profile-aboutme">
      <p>{{user.headline}}</p><br>
      <p>{{user.summary}}</p>
    </div>
    {{#if user.languages}}
    <div class="profile-add">
      <p> I speak {{user.languages}}</p>
    </div>
    {{/if}}

    {{#if user.interests}}
    <div class="profile-add">
      <p> {{user.interests}}</p>
    </div>
    {{/if}}
    <div class="profile-add">
      {{#if user.isMentor}}
      <p>Current industry: {{user.currentIndustry}}</p>
      </p>
      {{/if}}
      {{#if user.isMentee}}
      {{/if}}
    </div>

    {{#if user}}
    <div><button><a href="/profile/edit">Edit your profile!</a></button>
    </div>
    {{/if}}
  </div>
</div>