<h1>Hello {{firstName}}!</h1>

<h2>Your Profile Information</h2>

<div class="col-md-3 col-xs-12">
  <h4>First name</h4>
  {{user.firstName}}
</div>
{{user.lastName}}
{{user.picture}}
{{user.role}}
{{user.headline}}
{{user.location}}
{{user.currentPosition}}
{{user.summary}}
{{user.email}}
{{user.currentPosition}}
{{user.currentCompany}}
{{user.currentIndustry}}