<h2 class="text-center mt-4">Result(s) for your search...</h2>
<div class="container">
  <div class="row">


    <div class="card" style="width: 18rem;">

      {{#each results}}

      <img src="{{this.picture}}" class="card-img-top" alt="Profile_Pic">
      <div class="card-body">
        <h5 class="card-title">{{this.firstName}}</h5>
        <p class="card-text">{{user.currentPosition}}</p>
        <p class="card-text">{{user.role}}</p>
        <a href="{{user}}" class=" btn btn-primary"></a>
        {{/each}}

      </div>
    </div>
  </div>
</div>






{{!-- currentPosition: String,
currentCompany: String,
currentIndustry: String,
role: { type: String, enum: ["Mentor", "Mentee"] },
// university: String,
// gradYear: Number,
languages: [String],
picture: String,
summary: String,
headline: String,
location: String,
interests: [String],
linkedinProfile: Object --}}